[submodule "quic-network-simulator"]
	path = quic-network-simulator
	url = https://github.com/moonfalir/quic-network-simulator.git
[submodule "tcpqlog/mptcp-tools"]
	path = tcpqlog/mptcp-tools
	url = https://github.com/pabeni/mptcp-tools
[submodule "tcpqlog/mptcp_net-next"]
	path = tcpqlog/mptcp_net-next
	url = https://github.com/multipath-tcp/mptcp_net-next
